img{
  float: left;
}
.profile{
font-family: sans-serif;
color: black;
height: 60px;
text-align: inherit;
padding-left: 800px;
}
.project{
  float: left;
  clear: both;
  font-family: sans-serif;
}
body{
  width: auto;
  height: auto;
  background: linear-gradient(to right, #F5EEED 50%, #373535 50%)
}
